@using Microsoft.AspNet.Identity
@model Hdnug.Web.Models.ViewModels.ManageUserViewModel

<div class="row">
    <div class="medium-12 columns">
        <p>You're logged in as <strong>@User.Identity.GetUserName()</strong>.</p>

        @using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Change Password Form</h4>
            @Html.ValidationSummary()
            <div>
                @Html.LabelFor(m => m.OldPassword)

                @Html.PasswordFor(m => m.OldPassword)
            </div>
            <div>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)

            </div>
            <div>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </div>
            <div>
                <div>
                    <input type="submit" value="Change password" class="button" />
                </div>
            </div>
        }
    </div>
</div>
