@model Hdnug.Web.Models.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row" style="margin-top: 2rem">
    <div class="medium-6 medium-centered large-4 large-centered columns">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
        {
            <div class="log-in-form">
                <h4>Log in with your username</h4>
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
                <label for="RememberMe">@Html.CheckBoxFor(m => m.RememberMe)Remember Me?</label>
                <p>
                    <input type="submit" value="Log in" class="expanded button" />
                </p>
            </div>
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
