@model Hdnug.Web.Areas.Admin.Models.ViewModels.MeetingViewModel
<style type="text/css">.float-left {
     float: left;
     display: inline
 }</style>

<section>
    @Html.HiddenFor(x => x.Id)

    @Html.LabelFor(x => x.Title)
    @Html.TextBoxFor(x => x.Title, new { required = "required" })

    @Html.LabelFor(x => x.Description)
    @Html.TextAreaFor(x => x.Description)
    
    <div>
        <div>
            @Html.LabelFor(x => x.MeetingStartDateTime, "Meeting Start Date and Time")
            @Html.TextBoxFor(x => x.MeetingStartDateTime)
        </div>
        <div>
            @Html.LabelFor(x => x.MeetingEndDateTime, "Meeting End Date and Time")
            @Html.TextBoxFor(x => x.MeetingEndDateTime)
        </div>
    </div>
    <div>
        <div>
            @Html.Label("sponsors", "Sponsors")
            @Html.ListBoxFor(x => x.SelectedSponsors, new MultiSelectList(Model.Sponsors, "Id", "Name", Model.SelectedSponsors))
        </div>
        <div>
            @Html.Label("presentations", "Presentations")
            @Html.ListBoxFor(x => x.SelectedPresentations, new MultiSelectList(Model.Presentations, "Id", "Title", Model.SelectedPresentations))
        </div>
    </div>
    <div class="clearfix"></div>
    
    <div>
        @Html.Label("location", "Location")
        @Html.DropDownListFor(x => x.LocationId, 
            Model.Locations.Select(l => new SelectListItem(){Value = l.Id.ToString(), Text = l.Name, Selected = (l.Id == Model.LocationId)}));
    </div>
        

</section>
<script>
    $(document).ready(function () {
        var today = new Date();
            $("#MeetingStartDateTime").kendoDateTimePicker({
                format: "MM/dd/yyyy h:mm tt"
            });
            $("#MeetingEndDateTime").kendoDateTimePicker({
                format: "MM/dd/yyyy h:mm tt"
            });

            $("#SelectedSponsors").kendoMultiSelect({
                placeholder: "Select a sponsor", 
                autoclose:false
            });

            $("#SelectedPresentations").kendoMultiSelect({
                placeholder: "Select a presentation"
            });
        });
</script>