@model Hdnug.Web.Areas.Admin.Models.ViewModels.MeetingViewModel

@{
    ViewBag.Title = "Create";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Create Meeting</h4>
        <hr />
        @Html.ValidationSummary(true)

        @Html.Partial("_Meeting", Model)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="CreateButton" type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}

