@model Hdnug.Web.Areas.Admin.Models.ViewModels.MeetingViewModel

@{
    ViewBag.Title = "Details";
}

<h3>Meeting Details</h3>
<hr/>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MeetingStartDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MeetingStartDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MeetingEndDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MeetingEndDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationAddress1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationAddress1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationAddress2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationAddress2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationZip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationZip)
        </dd>

    </dl>

    <strong>Sponsors</strong>
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Contact
            </th>
            <th>
                Email
            </th>
            <th>
                Phone
            </th>
            <th>
                TagLine
            </th>
            <th>
                SponsorMessage
            </th>
            <th>
                WebSiteUrl
            </th>
            <th>
                LogoUrl
            </th>
        </tr>

        @foreach (var item in Model.Sponsors)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contact)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TagLine)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SponsorMessage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WebSiteUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Logo.ImageUrl)
                </td>
                @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>*@
            </tr>
        }
    </table>
    
    <strong>Presentations</strong>
    <table class="table">
        <tr>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Start
            </th>
            <th>
                End
            </th>
            <th>
                Location
            </th>
            <th>
                Speakers
            </th>
        </tr>

        @foreach (var item in Model.Presentations)
        {
            <tr>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    @item.PresentationStartDateTime.ToString("t")
                </td>
                <td>
                    @item.PresentationEndDateTime.ToString("t")
                </td>
                <td>
                    @item.Location
                </td>
                <td>
                    @string.Join(", ", item.Speakers.Select(x => x.Name))
                @*<td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>*@
            </tr>
        }
    </table>  

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
