@model IEnumerable<Hdnug.Web.Areas.Admin.Models.ViewModels.MeetingViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MeetingStartDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MeetingStartDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MeetingEndDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        @*<td>
            @Html.DisplayNameFor(model => model.MeetingStartDateTime.ToShortDateString())
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.MeetingStartDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MeetingEndDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
