@model Hdnug.Web.Areas.Admin.Models.ViewModels.MeetingListViewModel

@{
    ViewBag.Title = "Index";
}

<h3>Meetings</h3>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Decription
        </th>
        <th>
            MeetingStartDateTime
        </th>
        <th>
            MeetingEndDateTime
        </th>
        <th>
            LocationName
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Meetings) {
    <tr>
        <td>
            @item.Title
        </td>
        <td>
            @item.Description
        </td>
        <td>
            @item.MeetingStartDateTime
        </td>
        <td>
            @item.MeetingEndDateTime
        </td>
        <td>
            @item.Location.Name
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
