@using Kendo.Mvc.UI
@model Hdnug.Web.Models.ViewModels.SponsorViewModel

<div class="form-group">
    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Contact, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Contact)
        @Html.ValidationMessageFor(model => model.Contact)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Email)
        @Html.ValidationMessageFor(model => model.Email)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Phone)
        @Html.ValidationMessageFor(model => model.Phone)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.TagLine, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.TagLine)
        @Html.ValidationMessageFor(model => model.TagLine)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.SponsorMessage, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.SponsorMessage)
        @Html.ValidationMessageFor(model => model.SponsorMessage)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.WebSiteUrl, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.WebSiteUrl)
        @Html.ValidationMessageFor(model => model.WebSiteUrl)
    </div>
</div>

@if (Model.LogoUrl != null || Model.LogoUrl != string.Empty)
{
    <div class="form-group">
        <img src="@Url.Content(Model.LogoUrl)" />
    </div>
}

<div class="form-group">
    @Html.LabelFor(m => m.Logo)
    <div class="panel">
        @(Html.Kendo().Upload().Name("Logo").Multiple(false))
    </div>
</div>
