@using Hdnug.Web.Code
@model Hdnug.Web.Models.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

@section Styles{
    <style>
        .social-media-inline {
            margin: 0;
        }

        .event {
            padding: 1rem 1rem 0 0;
            display: table;
        }

        .event-date {
            width: 6rem;
            margin: 0 auto 1rem;
            display: table-cell;
            width: auto;
        }

        .event-date .event-month {
            margin: 0;
            background: #eee;
            padding: 0.5rem 2rem;
            text-align: center;
        }

        .event-date .event-day {
            margin: 0;
            border: 1px solid #eee;
            padding: 0 2rem;
            text-align: center;
            font-size: 2rem;
        }

        .event-desc {
            padding: 0 0 0 1rem;
            text-align: left;
            display: table-cell;
            vertical-align: top;
        }

        .event-desc .event-desc-header {
            margin: 0 0 0.5rem 0;
            padding: 0;
        }

        .event-desc .event-desc-detail {
            margin: 0 0 0.25rem;
            padding: 0;
        }

        .event-desc .event-desc-time {
            font-weight: bold;
        }

        .event-desc .rsvp.button {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            margin: 0;
        }
    </style>
}
<div class="orbit" data-orbit style="margin-bottom: 10px">
    <ul class="orbit-container">
        @foreach (var image in Model.SliderImages)
            {
            <li class="orbit-slide is-active">
                <img class="orbit-image" src="@image.ImageUrl" alt="@image.AltText" height="@image.Height" width="@image.Width" />
                <figcaption class="orbit-caption">@image.Caption</figcaption>
            </li>
        }
    </ul>
</div>

<div class="row">
    <!-- Main Blog Content -->
    <div class="large-8 columns" role="content">

        <!-- Two-up Content Blocks -->

        <div class="row">
            <div class="large-12 columns">
                <h3>Welcome to HDNUG!</h3>
                <p>
                    Whether you are a regular or someone just coming for the first time, whether you are a long-time .NET developer or new to .NET development, everyone who wants to learn about .NET and network with other developers is always welcome to HDNUG.
                    Our monthly meetings (and we've now had over 100!) are always free and feature great technical content, pizza drinks ... and a fun time.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                @if (Model.Meetings != null)
                {
                    var counter = 0;
                    foreach (var meeting in Model.Meetings)
                    {
                        counter++;
                        <article class="event">
                            <div>
                                <div class="event-date">
                                    <p class="event-month">@meeting.MeetingStartDateTime.ToString("MMM")</p>
                                    <p class="event-day">@meeting.MeetingStartDateTime.ToString("dd")</p>
                                </div>
                            </div>
                            <div class="event-desc">
                                <h4>
                                    @(Html.ActionLink(meeting.Title, "Index", "Meeting", new { id = meeting.Id }, null))
                                </h4>
                                <p>@meeting.Description.TrimEndIfLongerThan(175)</p>
                            </div>
                        </article>

                        if (counter < Model.Meetings.Count())
                        {
                            <hr />
                        }
                    }
                }
                else
                {
                    <article>
                        <p>No Meetings :(</p>
                    </article>
                }
            </div>

            <!-- End Main Content -->

        </div>
    </div>
    <!-- Sidebar -->

    <aside class="large-4 columns">
        <div style="padding: 4px">
            <ul class="menu expanded">
                <li>
                    <a href="https://twitter.com/HDNUG/" target="_blank">
                        <img src="@Url.Content("~/Content/Images/Site/iconmonstr-twitter-4-64-opacity.png")" />
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/groups/hdnug/" target="_blank">
                        <img src="@Url.Content("~/Content/Images/Site/iconmonstr-facebook-4-64-opacity.png")" />
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/board8421/" target="_blank">
                        <img src="@Url.Content("~/Content/Images/Site/iconmonstr-instagram-14-64-opacity.png")" />
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/groups/132626" target="_blank">
                        <img src="@Url.Content("~/Content/Images/Site/iconmonstr-linkedin-4-64-opacity.png")" />
                    </a>
                </li>
                <li>
                    <a href="https://hdnug.slack.com/" target="_blank">
                        <img src="@Url.Content("~/Content/Images/Site/iconmonstr-slack-14-64-opacity.png")" />
                    </a>
                </li>
            </ul>
        </div>
        <h5>Meeting Announcements</h5>
        @using (Html.BeginForm("Mailinglist", "Home", FormMethod.Post))
        {
            <fieldset>
                @Html.Label("Email Address")
                @Html.TextBox("email")
                <button type="submit" class="large expanded button">Subscribe!</button>
            </fieldset>
        }
        <div class="callout secondary">
            <h5>Meeting Sponsors</h5>
            @if (Model.Sponsors.Any())
            {
                foreach(var sponsor in Model.Sponsors)
                {
                    <h6>@sponsor.Name</h6>
                    if (sponsor.Logo != null)
                    {
                        <img src="@sponsor.Logo.ImageUrl" style="min-width: 150px; max-width: 200px " />
                    }
                    <p>@sponsor.TagLine</p>
                }
            }
            else
            {
                <p class="subheader">No meeting sponsors yet for this month. Interested in sponsoring? <a href="mailto:sponsors@hdnug.org">Let us know!</a></p>
            }
            <h5>Door Prize Sponsors</h5>
            @if (Model.PrizeSponsors.Any())
            {
                foreach(var prizeSponsor in Model.PrizeSponsors)
                {
                    <h6>@prizeSponsor.Sponsor.Name</h6>
                    if (prizeSponsor.Sponsor.Logo != null)
                    {
                        <img src="@prizeSponsor.Sponsor.Logo.ImageUrl" style="min-width: 150px; max-width: 200px " />
                    }
                    <p>@prizeSponsor.Sponsor.TagLine</p>
                }
            }
            else
            {
                <p class="subheader">No door prize sponsors yet. Want to donate some swag? <a href="mailto:sponsors@hdnug.org">Let us know!</a></p>
            }
        </div>
    </aside>

    <!-- End Sidebar -->

</div>
