@model Hdnug.Web.Areas.Admin.Models.ViewModels.ImageViewModel

@{
    ViewBag.Title = "Slider Images";
}

<h2>Slider Images</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            ImageId
        </th>
        <th>
            Title
        </th>
        <th>
            AltText
        </th>
        <th>
            Caption
        </th>
        <th>
            Height
        </th>
        <th>
            Width
        </th>
        <th>
            CreratedDate
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.Images)
    {
        <tr>
            <td>
                @item.ImageId
            </td>
            <td>
                @item.Title
            </td>
            <td>
                @item.AltText
            </td>
            <td>
                @item.Caption
            </td>
            <td>
                @item.Height
            </td>
            <td>
                @item.Width
            </td>
            <td>
                @item.CreatedDate.ToShortDateString()
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.ImageId }, new
                {
                    onClick ="return confirm('Are you sure you want to delete this SliderImage?');" 
                })
            </td>
        </tr>
    }
</table>
     