@model Hdnug.Web.Areas.Admin.Models.ViewModels.PrizeSponsorshipViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>@Model.SponsorName</h2>

@using (Html.BeginForm("Edit", "PrizeSponsorships", FormMethod.Post, new { enctype = "mutlipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Edit Prize Sponsorship</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        @Html.Partial("_PrizeSponsorship", Model)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="button" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
