<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - HDNUG</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    @Styles.Render("~/Content/foundation/css")
    @Styles.Render("~/Content/kendo/css")
    @Styles.Render("~/Content/site/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        #right-side-header {
            display: table-cell;
            vertical-align: bottom;
        }

        .horizontal li {
            display: inline;
            list-style-type: none;
        }

        a.menu-link {
            color: #ffffff;
            display: inline-block;
            position: relative;
            padding-bottom: 3px;
        }

        a.menu-link:after {
            content: '';
            display: block;
            margin: auto;
            height: 3px;
            width: 0px;
            background: transparent;
            transition: width .2s ease, background-color .2s ease;
        }

        a.menu-link:hover:after {
            width: 100%;
            background: #ffffff;
        }
    </style>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendo")
    @RenderSection("styles", required: false)
</head>
<body>
    <div style="border-bottom: 1px solid #c0c0c0; margin-bottom: .875em; background-color: #193366">
        <div class="row" style="padding: 20px">
            <div class="large-1 columns">
                <a href="@Url.Action("Index", "Home", null)"><img src="@Url.Content("~/Content/Images/Site/30 - hdnugLogo.png")" height="95" width="95" /></a>
            </div>
            <div class="large-4 columns">
                <h4 style="color: #ffffff; padding-top: 12px">Houston Dot Net User Group</h4>
            </div>
            <div class="large-5 columns">
                <div style="padding-top: 12px">
                    <ul class="menu">
                        <li>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "menu-link" })</li>
                        <li>@Html.ActionLink("Upcoming", "Index", "Home", null, new { @class = "menu-link" })</li>
                        <li>@Html.ActionLink("Past", "Index", "Home", null, new { @class = "menu-link" })</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "menu-link" })</li>
                        <li>@Html.ActionLink("About", "About", "Home", null, new { @class = "menu-link" })</li>
                    </ul>
                </div>
            </div>
            <div class="large-2 columns">
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="VFQTJ4GTAUDEA">
                    <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
        </div>
    </div>
    <!-- End Header and Nav -->
    <!-- Main Page Content and Sidebar -->

    <div class="row">
        <div class="large-12 columns">
            @RenderBody()
        </div>
    </div>

    <!-- End Main Content and Sidebar -->
    <!-- Footer -->

    <footer style="background-color: #f2f2f2">
        <div class="row">
            <div class="large-12 columns">
                <div class="row">
                    <div class="large-6 columns">
                        <p>&copy; @DateTime.Now.Year - HDNUG.ORG</p>
                    </div>
                    <div class="large-6 columns">
                        <ul class="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/foundation")
    <script>
        $(document).foundation();
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
