@model Hdnug.Web.Areas.Admin.Models.ViewModels.SponsorViewModel

<div class="form-group">
    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Contact, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Contact)
        @Html.ValidationMessageFor(model => model.Contact)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Email)
        @Html.ValidationMessageFor(model => model.Email)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Phone)
        @Html.ValidationMessageFor(model => model.Phone)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.TagLine, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.TagLine)
        @Html.ValidationMessageFor(model => model.TagLine)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.SponsorMessage, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.SponsorMessage)
        @Html.ValidationMessageFor(model => model.SponsorMessage)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.WebSiteUrl, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.WebSiteUrl)
        @Html.ValidationMessageFor(model => model.WebSiteUrl)
    </div>
</div>

@if (!string.IsNullOrEmpty(Model.LogoUrl))
{
    <div class="form-group">
        <label>Logo</label>
        <div class="float-left">
            <img id="pic" src="@Url.Content(Model.LogoUrl)" style="width: 150px; margin-bottom: 10px" />
            <div>
                <label for="Logo" class="small button" style="width: 48%">Change</label>
                <input id="Logo" name="Logo" class="show-for-sr" type="file" />
                <button id="clearButton" class="small button secondary" style="width: 48%">Clear</button>
            </div>
        </div>
        <div id="fileName" style="float: left; margin-left: 10px"></div>
        <div class="clearfix"></div>
    </div>
}
else
{
    <div class="form-group">
        <label>Logo</label>
        <div class="float-left">
            <img src="http://placehold.it/200x100" style="width: 200px; margin-bottom: 10px" />
            <div>
                <label for="Logo" class="small button" style="width: 100%">Upload</label>
                <input id="Logo" name="Logo" class="show-for-sr" type="file" />
            </div>
        </div>
        <div id="fileName" style="float: left; margin-left: 10px"></div>
        <div class="clearfix"></div>
    </div>
}

@Html.HiddenFor(x => x.LogoId)
@Html.HiddenFor(x => x.ImageIsCleared)
<script>
        function updateName() {
            var fileName = document.getElementById("Logo").files[0].name;
            document.getElementById("fileName").innerHTML = fileName;
        }
        function clearImage(e) {
            e.preventDefault();
            document.getElementById("pic").src = "http://placehold.it/200x100"
            document.getElementById("ImageIsCleared").setAttribute("value", true);
        }
        document.getElementById('Logo').addEventListener('change', updateName, false);
        var clearButton = document.getElementById('clearButton');
        if (clearButton !== null) {
            clearButton.addEventListener('click', clearImage, false);
        }

</script>
