<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - HDNUG</title>
    @Styles.Render("~/Content/foundation/css")
    @Styles.Render("~/Content/kendo/css")
    @Styles.Render("~/Content/site/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendo")
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
                <li class="menu-text">HDNUG</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            @RenderBody()
        </div>
    </div>
    @Scripts.Render("~/bundles/foundation")
    <script>
        $(document).foundation();
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
