@model Hdnug.Domain.Data.Models.Meeting

@{
    ViewBag.Title = "HDNUG Meeting - " + @Model.Title;
}

<div class="row">
    <div class="large-4 columns">
        <h2>@Model.Title</h2>
    </div>

    <div class="large-6 columns">
        <p>@Model.MeetingStartDateTime - @Model.MeetingEndDateTime</p>
        <p>@Model.Location</p>
    </div>
</div>

<div class="row">
        @Model.Description
</div>
<div class="row">
        <h3>Presentations:</h3>
</div>


@foreach (var presentation in @Model.Presentations)
{

    <p>@presentation.Location</p>
    <p>@presentation.Title</p>
    <p>@presentation.Description</p>
    <h4>Presented by:</h4> 
    foreach (var speaker in @presentation.Speakers )
     {
         @speaker.Photo
         @speaker.Name<br/>
         @speaker.WebSiteUrl<br/>
         @speaker.Bio<br/>
         @speaker.Email<br/>
    }
}

<h3>Sponsored By:</h3>
@foreach (var sponsor in @Model.Sponsors)
{
    @sponsor.Logo
    @sponsor.Name<br/>
    @sponsor.SponsorMessage<br/>
    @sponsor.TagLine<br/>
    @sponsor.WebSiteUrl<br/>
    @sponsor.Contact<br/>
    @sponsor.Email<br/>
    @sponsor.Phone<br/>
}