@model Hdnug.Domain.Data.Models.Meeting

@{
    ViewBag.Title = "HDNUG Meeting - " + @Model.Title;
}

<div class="row">
    <div class="small-4 columns">
        <h2>@Model.Title</h2>
    </div>
    <div class="small-6 columns">
        <address>@Model.Location</address>
        <p>@Model.MeetingStartDateTime.Date.ToShortDateString() from @Model.MeetingStartDateTime.ToString("HH:mm") to @Model.MeetingEndDateTime.ToString("HH:mm")</p>
    </div>
</div>

<div class="row">
    <div class="large-8 columns">
        @Model.Description
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <h3>Presenting:</h3>
    </div>
</div>
@foreach (var presentation in @Model.Presentations)
{
    <div class="row">
        <div class="small-6 columns">
            <p>@presentation.Title</p>
            <p>@presentation.Description</p>
        </div>
        <div class="small-6 columns">
            @foreach (var speaker in @presentation.Speakers )
            {
            @speaker.Photo
            @speaker.Name<br/>
            @speaker.WebSiteUrl<br/>
            @speaker.Bio<br/>
            @speaker.Email<br/>
            }
        </div>
    </div>
}


<div class="row">
    <div class="large-12 columns">
        <h3>Sponsored By:</h3>
    </div>
</div>
@foreach (var sponsor in @Model.Sponsors)
{
    <div class="row">
        <div class="small-6 columns">
            @Html.DisplayFor(p=>sponsor.Logo)
            @sponsor.Name<br/>
            @sponsor.SponsorMessage<br/>
            @sponsor.TagLine<br/>
            @sponsor.WebSiteUrl<br/>
            @sponsor.Contact<br/>
            @sponsor.Email<br/>
            @sponsor.Phone<br/>
        </div>
    </div>
}