@model Hdnug.Web.Areas.Admin.Models.ViewModels.SpeakerViewModel

<div class="form-group">
    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Email)
        @Html.ValidationMessageFor(model => model.Email)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Phone)
        @Html.ValidationMessageFor(model => model.Phone)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.WebSiteUrl, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.WebSiteUrl)
        @Html.ValidationMessageFor(model => model.WebSiteUrl)
    </div>
</div>

@if (!string.IsNullOrEmpty(Model.PhotoUrl))
{
    <div class="form-group">
        <img src="@Url.Content(Model.PhotoUrl)" />
    </div>
}

<div class="form-group">
    @Html.LabelFor(m => m.Photo)
    <div class="panel">
        <input type="file"/>
    </div>
</div>
