@model Hdnug.Web.Areas.Admin.Models.ViewModels.SpeakerViewModel

<div class="form-group">
    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Email)
        @Html.ValidationMessageFor(model => model.Email)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Phone)
        @Html.ValidationMessageFor(model => model.Phone)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.WebSiteUrl, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.WebSiteUrl)
        @Html.ValidationMessageFor(model => model.WebSiteUrl)
    </div>
</div>

@if (!string.IsNullOrEmpty(Model.PhotoUrl))
{
    <div class="form-group">
        <img src="@Url.Content(Model.PhotoUrl)" style="width: 150px; margin-bottom: 12px" />
    </div>
}

<div class="form-group">
    @Html.LabelFor(model => model.Bio, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextAreaFor(model => model.Bio)
        @Html.ValidationMessageFor(model => model.Name)
    </div>
</div>

<script>
        function updateName() {
            var fileName = document.getElementById("Photo").files[0].name;
            document.getElementById("fileName").innerHTML = fileName;
        }
</script>
<div class="form-group">
    <div class="panel">
        <label for="Photo" class="button">Upload Image</label>
        <input id="Photo" name="Photo" class="show-for-sr" type="file" onchange="updateName()" /> <span id="fileName"></span>
    </div>
</div>
